.vscode/*
.venv/*
*.json
ai_python_scripts/__pycache__/*
Overall_eval.txt
Accuracy.txt
Rewards_sum.txt
venv/*
models/* 
.idea/*
animations/venv/*
animations/**/__pycache__/*
animations/models/*
animations/**/media/*

statistics_and_data/training_data_DDPG.csv
